*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

/* Versão mobile */

/* Section1, 2, 3 */
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card{
    background-color: pink;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.margin{
    margin: 15px;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
  }
  
  /* efeito cascata da página */
.delay-1  { animation-delay: 0.2s; }
.delay-2  { animation-delay: 0.4s; }
.delay-3  { animation-delay: 0.6s; }
.delay-4  { animation-delay: 0.8s; }
.delay-5  { animation-delay: 1.0s; }
.delay-6  { animation-delay: 1.2s; }
.delay-7  { animation-delay: 1.4s; }
.delay-8  { animation-delay: 1.6s; }
.delay-9  { animation-delay: 1.8s; }
.delay-10 { animation-delay: 2.0s; }

/* pra esse efeito ser feito com a rolagem da barra, precisava de Js */

/* Versão desktop */

@media (min-width: 768px) {

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

}